<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WindowsFormsAppTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="connectieString" value="///" />
    <add key="SaveLogFilePlace" value="d:" />
    <add key="Tijd" value="15" />
    <add key="TestAanOfUit" value="uit" />
    <add key="Http" value="https://wsdev.kraan.com/" />
    <add key="LeegTekstVak" value="Tekstvak mag niet leeg zijn" />
    <add key="BestaatAlInDb" value="Bestaat al" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessageServiceSoap" />
        <binding name="MessageServiceSoapBinding">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpsBinding_IMaterieelBeheerService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IMaterieelService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IWorkflowService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IUrenService1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_ICrmService1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.oosterberg.nl/messageservice/messageservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="MessageServiceSoap"
        contract="Sales24.MessageServiceSoap" name="MessageServiceSoap" />
      <endpoint address="https://sys134w10.kraan.lokaal:1337/MessageServiceSoap.svc"
        binding="basicHttpBinding" bindingConfiguration="MessageServiceSoapBinding"
        contract="Sales31.MessageServiceSoap" name="MessageServiceSoap1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/MaterieelBeheerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMaterieelBeheerService"
        contract="MaterieelBeheerWebservice.IMaterieelBeheerService"
        name="BasicHttpsBinding_IMaterieelBeheerService" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/MaterieelService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMaterieelService1"
        contract="MaterieelWebservice.IMaterieelService" name="BasicHttpsBinding_IMaterieelService1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/WorkflowService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWorkflowService1"
        contract="WorkFlowWebservice.IWorkflowService" name="BasicHttpsBinding_IWorkflowService1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/UrenService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUrenService1"
        contract="UrenWebservice.IUrenService" name="BasicHttpsBinding_IUrenService1" />
      <endpoint address="https://wsdev.kraan.com/kraan2vorm/CrmService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICrmService1"
        contract="CrmWebservice.ICrmService" name="BasicHttpsBinding_ICrmService1" />
    </client>
  </system.serviceModel>
  <userSettings>
    <WindowsFormsAppTest.Properties.Settings>
      <setting name="SaveLogFilePlace" serializeAs="String">
        <value>d:</value>
      </setting>
      <setting name="KlantKeuze" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="Tijd" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="TestAanOfUit" serializeAs="String">
        <value>uit</value>
      </setting>
      <setting name="Http" serializeAs="String">
        <value>https://wsdev.kraan.com/</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>/@/</value>
      </setting>
      <setting name="TijdService" serializeAs="String">
        <value>900000</value>
      </setting>
      <setting name="ServiceAanOfUit" serializeAs="String">
        <value>uit</value>
      </setting>
      <setting name="SaveDbPlace" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="ServerNaam" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="PlaceDb" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="PlaceSelfDb" serializeAs="String">
        <value>d:</value>
      </setting>
      <setting name="StartUpPathDb" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="MailServerNaam" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="MailServerPoort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MailServerGebruikersnaam" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="MailServerWachtwoord" serializeAs="String">
        <value>///</value>
      </setting>
      <setting name="MailVerzendenVanuitEmail" serializeAs="String">
        <value>///</value>
      </setting>
    </WindowsFormsAppTest.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.35.0.0" newVersion="4.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.20.0.0" newVersion="1.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Identity" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>