<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WindowsFormsAppTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="connectieString" value="data source=LAPTOP-YOURI-SE; Initial Catalog=TestTool;Integrated Security=True;" />
    <add key="opslaanLogFile" value="d:"/>
    <add key="testTijd" value="15"/>
    <add key="testTijdAanOfUit" value="uit"/>
    <add key="http" value="https://wsdev.kraan.com/"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBinding_ICrmService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wsdev.kraan.com/Rasenprod/CrmService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICrmService"
        contract="WebserviceYouri.ICrmService" name="BasicHttpsBinding_ICrmService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <WindowsFormsAppTest.Properties.Settings>
      <setting name="SaveLogFilePlace" serializeAs="String">
        <value>d:</value>
      </setting>
      <setting name="WebserviceKeuze" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KlantKeuze" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Tijd" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AanOfUit" serializeAs="String">
        <value>uit</value>
      </setting>
      <setting name="SoortHttp" serializeAs="String">
        <value>https://wsdev.kraan.com/</value>
      </setting>
    </WindowsFormsAppTest.Properties.Settings>
  </userSettings>
</configuration>